@keyframes Animation{
    0%{
        transform: translateY(0px) , rotate(0deg);
    }

    25%{
        transform: translateY(70px) , rotate(180deg);
    }

    50%{
        transform: translateY(-70px) , rotate(360deg);
    }

    0%{
        transform: translateY(0px) , rotate(0deg);
    }
}

*{
   font-style:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.mainheader{
    width: 100%;
    box-shadow: plum 0px 0px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px,3fr));
    gap: 20px;
    padding: 20px;
    align-content: center;
    justify-items:center;
    background-color: lavender;
    margin-bottom: 30px;
}

.logo{
    border-radius:30px;
    overflow: hidden;
    width:60px;
    height: 60px;
    font-size: 70px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: white;
    box-shadow: black 0px 0px 10px;
    transition: transform 0.4s;
    cursor: pointer;
    box-shadow: plum 0px 0px 20px;
}

.logo:hover{
    transform: scale(1.08);
}

.nav
{
    margin:auto;
    width: 300px;
    display: flex;
    justify-content:space-around;
}

.nav a{
    text-decoration: none;
    color: black;
    padding: 5px;
    box-shadow: black 0px 0px 10px;
    font-size: 20px;
    transition: transform 0.4s;
    background-color: rgb(246, 208, 246);
    box-shadow: plum 0px 0px 20px;
}

.nav a:hover{
    transform: scale(1.08);
}

.name{
    cursor: pointer;
    margin: auto;
    width: 200px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    box-shadow: black 0px 0px 10px;
    transition: transform 0.4s;
    background-color: rgb(246, 208, 246);
    box-shadow: plum 0px 0px 20px;
}

.name:hover{
    transform: scale(1.08);
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,300px));
    padding: 10px;
    background-color: #f7f7f7;
    justify-items: center;
}

.about .picture img{
    width: 280px;
    margin: 10px;
    margin-left: 40px;
    border-radius: 40%;
    box-shadow: plum 0px 0px 20px;
}

.about .info{
    width: 900px;
    padding: 25px;
    margin: auto;
    margin-left: 100px;
    background-color: white;
    border-radius: 20px;
    box-shadow: plum 0px 0px 20px;
}

.info h2{
    text-align: center;
    text-decoration: underline;
}

.info p{
    font-size:20px;
    text-align: center;
}

.skills{
    display: grid;
    padding: 30px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit , minmax(200px,3fr));
    margin: auto;
    font-size: 30px;
    justify-content: center;
}

.cards{
    background-color: plum;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    box-shadow: plum 0px 0px 20px;
    cursor: pointer;
   animation-name: Animation;
   animation-duration: 2s;
   animation-delay: 0s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-fill-mode: both;
}

.cards:hover{
    animation-play-state: paused;
}



.projects{
    display:grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px,2fr));
    padding: 20px;
}

.projects .proj1{
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 120px;
    transition: transform 0.5s;
    box-shadow: plum 0px 0px 20px;
    background-color: rgb(246, 208, 246);
    border-radius: 40px;
}

.projects .proj2{
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 120px;
    transition: transform 0.5s;
    box-shadow: plum 0px 0px 20px;
    background-color: rgb(246, 208, 246);
    border-radius: 40px;
}

.projects .proj3{
    padding: 10px;
    margin: auto;
    width: 300px;
    height: 120px;
    transition: transform 0.5s;
    box-shadow: plum 0px 0px 20px;
    background-color: rgb(246, 208, 246);
    border-radius: 40px;
}

.proj1 h2{
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}

.proj2 h2{
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}

.proj3 h2{
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}

.proj1 a{
    margin-left: 60px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.proj2 a{
    margin-left: 60px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.proj3 a{
    margin-left: 60px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.proj1:hover{
    transform: scale(1.08);
}

.proj2:hover{
    transform: scale(1.08);
}

.proj3:hover{
    transform: scale(1.08);
}

footer{
    bottom: 0;
    margin-top: 30px;
    display: grid;
    background-color: lavender;
    height: 90px;
    grid-template-columns: repeat(auto-fit , minmax(200px , 2fr));
    justify-items: end;
    padding: 10px;
    box-shadow: plum 0px 0px 20px;
}

footer .social{
    margin: auto;
    margin-right: 90px;
    font-size: 30px;
    transition: transform 0.5s ;
}

.social:hover{
    transform: scale(1.08);
}